.default-layout {
    .wrapper {
        padding-top: rem-calc(66px);
        min-height: 100vh;
        display: flex;
        flex: 1;
        flex-direction: row;

        @include breakpoint(small down) {
            padding-top: rem-calc(56px);
        }

        main {
            display: flex;
            flex: 1;
            flex-direction: column;
            min-width: 0;

            @include breakpoint(large down) {
                padding-left: rem-calc(60px);
            }

            @include breakpoint(small only) {
                padding-left: 0;
            }

            .content {
                overflow-x: hidden;
                padding: rem-calc(30px 30px 10px 30px);

                @include breakpoint(small down) {
                    padding: rem-calc(20px 20px 10px 20px);
                }
            }
        }
    }
}

a,
p {
    display: block;
    text-align: left;
}

.container {
    margin: 0 auto;
}
